extends layout

block content
  h1= Share-a-Meal
  p Welcome to the Share-a-meal API
  p Use the following url extensions to get the API's functionalities:
    
  p  - /api/users
  p  - /api/users/post
  p  - /api/users/profile
  p  - /api/users/id
  p  - /api/users/update
  p  - /api/users/remove

