extends layout

block content
  h1= Share-a-Meal
  p Welcome to the Share-a-meal API
  p Use the following url extensions to get the API's functionalities:
    
    - /api/users
    - /api/users/post
    - /api/users/profile
    - /api/users/id
    - /api/users/update
    - /api/users/remove

