extends layout

block content
  h1= Share-a-Meal
  p Welcome to the Share-a-meal API
  p Use the following url extensions to get the API's functionalities:
    
  h1 Users
  p  - /api/users
  p  - /api/users/post
  p  - /api/users/profile
  p  - /api/users/id
  p  - /api/users/update
  p  - /api/users/remove

  h1 Meals 
  p  - /api/meals
  p  - /api/meals/post
  p  - /api/meals/update
  p  - /api/meals/remove

  h1 Note that many functionalities won't work with the proper login or token